NODE_ENV=development
PORT=3000
MONGO_URI=mongodb://localhost:27017/stockmaster
JWT_SECRET=YOUR_SUPER_SECRET_JWT_KEY
# REDIS CONFIGURATION (Use redis://redis:6379 if running in Docker, else localhost)
REDIS_URL=redis://localhost:6379

# STRIPE CONFIGURATION
STRIPE_SECRET_KEY=sk_test_PLACEHOLDER
STRIPE_WEBHOOK_SECRET=whsec_PLACEHOLDER

# CLOUDINARY CONFIGURATION
CLOUDINARY_CLOUD_NAME= dbj28qhvx
CLOUDINARY_API_KEY=333576267595972
CLOUDINARY_API_SECRET=7VEef87EK0PuNSoGIzBoRWSVHFo

# GEMINI CONFIGURATION
GEMINI_API_KEY=PLACEHOLDER

# FRONTEND CONFIGURATION
FRONTEND_URL=http://localhost:5173

# MAIL CONFIGURATION
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=PLACEHOLDER
MAIL_PASS=PLACEHOLDER
